<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入外部配置文件+内部-->
    <properties resource="db.properties">
    </properties>
    <!--日志-->
    <settings>
        <!--mybatis自带日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--设置下划线和驼峰的自动映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--显示开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!--起别名-->
    <typeAliases>
        <package name="com.bmft.pojo"/>
    </typeAliases>

    <!--默认选择第一套环境-->
    <environments default="test01">

        <environment id="test01">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url"  value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--每个mapper.xml都要配置-->
    <mappers>
        <!--群体配置，需要每个mapper.xml里面搭建好，不然会炸-->
        <package name="com.bmft.dao"/>
    </mappers>
</configuration>